<div class="container col-xxl-8 px-4" id="about">
  <h2 class="pb-2 border-bottom">About Me</h2>
  <div class="row g-4 row-cols-1">
    <p class="lead">
      I'm Dimitrios Xynos, a Computer Science undergraduate specializing in
      Front-End Development. Proficient in HTML, CSS, JavaScript, and Angular,
      <br />
      <br />
      I'm passionate about creating visually appealing, user-friendly websites.
      With experience as a Data Entry Specialist at Naftemporiki.gr and an
      internship as a Front-End Developer, I've honed my attention to detail and
      organizational skills.
      <br />
      <br />
      As a Social Media Manager for K. Vardaka, I developed effective strategies
      to boost brand visibility and engagement. I hold a BSc in Computer Science
      and have completed projects in Machine Learning/Computer Vision and web
      development.
      <br />
      <br />
      I'm fluent in English and Greek, with beginner-level German proficiency.
      <br />
      <br />
      I'm a strong communicator, problem-solver, and collaborator, skilled in
      time management and meeting deadlines.
      <br />
      <br />
      Let's connect at dxynos&#64;outlook.com.
    </p>
  </div>
</div>
