<div class="container col-xl-8 px-4" id="projects">
  <h2 class="pb-2 border-bottom">Projects</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4">
    <div class="col">
      <a
        href="https://dimitrisx26.github.io/restaurant-page/"
        target="_blank"
        style="cursor: pointer"
      >
        <div
          class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg custom-card"
          style="background-image: url('assets/images/restaurant-page.png'); display: flex; justify-content: center; align-items: center;"
        >
          <div
            class="d-flex flex-column p-5 pb-3 text-white text-shadow-1 text-center"
            style="position: relative; z-index: 1"
          >
            <h3 class="display-7 lh-1 fw-bold">Restaurant Website</h3>
          </div>
          <div
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.75);
              z-index: 0;
            "
          ></div>
        </div>
      </a>
    </div>

    <div class="col">
      <a
        href="https://recipe-app-dimitrisx26.vercel.app/auth"
        target="_blank"
        style="cursor: pointer"
      >
        <div
          class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg custom-card"
          style="background-image: url('assets/images/recipe.png'); display: flex; justify-content: center; align-items: center;"
        >
          <div
            class="d-flex flex-column p-5 pb-3 text-white text-shadow-1 text-center"
            style="position: relative; z-index: 1"
          >
            <h3 class="display-7 lh-1 fw-bold">Angular Recipe App</h3>
          </div>
          <div
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.75);
              z-index: 0;
            "
          ></div>
        </div>
      </a>
    </div>

    <div class="col">
      <a
        href="https://dimitrisx26.github.io/js-library-revised/"
        target="_blank"
        style="cursor: pointer"
      >
        <div
          class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg custom-card"
          style="background-image: url('assets/images/library-app.png'); display: flex; justify-content: center; align-items: center;"
        >
          <div
            class="d-flex flex-column p-5 pb-3 text-white text-shadow-1 text-center"
            style="position: relative; z-index: 1"
          >
            <h3 class="display-7 lh-1 fw-bold">Library App</h3>
          </div>
          <div
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.75);
              z-index: 0;
            "
          ></div>
        </div>
      </a>
    </div>
  </div>
  <a
    class="btn btn-light btn-lg px-4 mt-4 me-md-2"
    href="https://www.github.com/dimitrisx26"
    target="_blank"
    >See more...</a
  >
</div>
