<div class="container col-xl-8 px-4 py-5" id="projects">
  <h2 class="pb-2 border-bottom">Projects</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div
        class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg custom-card"
        style="background-image: url('unsplash-photo-1.jpg')"
      >
        <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
          <h3 class="display-15">Short title, long jacket</h3>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg custom-card"
        style="background-image: url('unsplash-photo-2.jpg')"
      >
        <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
          <h3 class="display-15">
            Much longer title that wraps to multiple lines
          </h3>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg custom-card"
        style="background-image: url('unsplash-photo-3.jpg')"
      >
        <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
          <h3 class="display-15">Another longer title belongs here</h3>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-light btn-lg px-4 me-md-2" href="https://www.github.com/dimitrisx26" target="_blank">See more...</a>
</div>