<div class="container col-xxl-8 px-4" id="contact" #contact>
  <h2 class="pb-2 border-bottom">Contact</h2>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" id="contactForm" method="POST">
    <div class="mb-3">
      <label class="form-label" for="name">Name</label>
      <input
        class="form-control"
        id="name"
        type="text"
        placeholder="Name"
        formControlName="name"
      />
    </div>

    <div class="mb-3">
      <label class="form-label" for="email">Email Address</label>
      <input
        class="form-control"
        id="email"
        type="email"
        placeholder="Email Address"
        formControlName="email"
      />
    </div>

    <input
      type="checkbox"
      name="botcheck"
      class="hidden"
      style="display: none"
    />

    <div class="mb-3">
      <label class="form-label" for="message">Message</label>
      <textarea
        class="form-control"
        id="message"
        type="text"
        placeholder="Message"
        style="height: 10rem"
        formControlName="message"
      ></textarea>
    </div>

    <div id="submitSuccessMessage">
      <div *ngIf="submitSuccessMessage" class="text-center mb-3">
        {{ submitSuccessMessage }}
      </div>
    </div>

    <div id="submitErrorMessage">
      <div *ngIf="submitErrorMessage" class="text-center text-danger mb-3">
        {{ submitErrorMessage }}
      </div>
    </div>

    <div class="d-grid">
      <button
        class="btn btn-primary btn-lg px-4"
        type="submit"
        [disabled]="!contactForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
