<div class="container col-xxl-8 px-4">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/assets/images/photo2.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Image of Dimitrios Xynos"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Hello, I am Dimitris!</h1>
      <h5 class="fw-bold" style="text-decoration: underline;">
        Computer Science Undergraduate and Front-End Developer
      </h5>
      <p class="lead">
        Results-driven Computer Science Undergraduate specializing in Front-End
        Development. Proficient in HTML, CSS, JavaScript, Angular and responsive
        web design. Strong work ethic, adaptable team player, committed to
        continuous learning. Seeking web development opportunities.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-light btn-lg px-4 me-md-2" routerLink="/contact"
          >Contact</a
        >
        <a
          class="btn btn-primary btn-lg px-4"
          href="https://drive.google.com/uc?export=download&id=1U1PRXHN7D7zvES9OS12zcB_zqtoQ4vNg"
          target="_blank"
          rel="noopener noreferrer"
          >CV</a
        >
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand navbar-dark border-top border-bottom" aria-label="navbar">
  <div class="container-xl justify-content-center">
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/projects">Projects</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/skills">Skills</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
