<div class="container col-xxl-8 px-4 py-5" id="skills">
  <h2 class="pb-2 border-bottom">Skills</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Featured title</h3>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Featured title</h3>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Featured title</h3>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
    </div>
  </div>
</div>