<div class="container col-xxl-8 px-4" id="skills">
  <h2 class="pb-2 border-bottom">Skills</h2>
  <div class="row g-4 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Web Development</h3>
        <p>• HTML <br> • CSS <br> • JavaScript <br> • TypeScript <br> • Angular <br> • WordPress</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Programming</h3>
        <p>• C <br>•  Java <br> • Python <br> • MySql</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Soft Skills</h3>
        <p>
          • Teamwork <br> • Communication <br> • Problem Solving <br> • Time Management <br> • Adaptability
        </p>
      </div>
    </div>
  </div>
</div>
